<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PresetConfigSection" type="LulCaster.UI.WPF.Config.UserSettings.Models.PresetConfigSection, LulCaster.UI.WPF" />
  </configSections>
  <PresetConfigSection>
    <Presets>
      <add Id="fb425faa-8ed6-48b7-9ee6-1bffa4df8730" Name="Valorant" ProcessName="Valorant" />
      <add Id="3406149e-d6c5-4eb1-97f2-2f4fd5145882" Name="poop2" ProcessName="Null" />
    </Presets>
  </PresetConfigSection>
  <appSettings>
    <add key="CaptureFps" value="8"/>
    <add key="MaxRegionThreads" value="3"/>
  </appSettings>
</configuration>