<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PresetConfigSection" type="LulCaster.UI.WPF.Config.Models.PresetConfigSection, LulCaster.UI.WPF" />
  </configSections>
  <PresetConfigSection>
    <Presets>
      <add Id="fb425faa-8ed6-48b7-9ee6-1bffa4df8730" Name="poop1" />
      <add Id="3406149e-d6c5-4eb1-97f2-2f4fd5145882" Name="poop2" />
    </Presets>
  </PresetConfigSection>
</configuration>